Fondamenti di programmazione primo semestre/HomeWork3 (opzionale)/supertest.py
Fondamenti di programmazione primo semestre/HomeWork3 (opzionale)/supersiummico.py
.vs
Fondamenti di programmazione primo semestre/HomeWork3 (opzionale)/ultimo tentativo risoluzione.png
*.pyc
*.pyc
Fondamenti di programmazione primo semestre/HomeWork3 (opzionale)/__pycache__/program01.cpython-311.pyc
Fondamenti di programmazione primo semestre/HomeWork4 (obbligatorio)/siummettohw4.py
*.prof
Fondamenti di programmazione primo semestre/Esercizi 16 Novembre 2022/cehfratropposium.py
Fondamenti di programmazione primo semestre/Esercizi 16 Novembre 2022/img1-2.png
Fondamenti di programmazione primo semestre/Esercizi 16 Novembre 2022/sfondoNero.png
Fondamenti di programmazione primo semestre/igor.py
Fondamenti di programmazione primo semestre/HomeWork6 (obbligatorio)/igor.py
Fondamenti di programmazione primo semestre/HomeWork6 (obbligatorio)/.DS_Store
.DS_Store
